<footer class="footer">
  <section class="footer-top">
    <div class="container">
      <div class="footer-top-inner">
        <div class="footer__leaveinf">
          <h1 class="footer__title">Ну что скажете? Автоматизируем?</h1>
          <p class="footer__subtitle">
            Оставьте свой номер телефона – мы перезвоним вам и проконсультируем
            по всем вопросам!
          </p>
          <form class="leaveinf-form">
            <input
              class="leaveinf-form__input"
              type="tel"
              placeholder="Телефон номер"
            />
            <button class="leaveinf-form__btn">Перезвонить вам</button>
          </form>
        </div>
        <div class="footer__contacts">
          <div class="footer__column">
            <img src="images/footer-logo.png" alt="Footer-logo" />
            <p class="footer__inf">
              Самый быстрый и простой способ создания растущих бизнес-решений с
              помощью наших продуктов
            </p>
          </div>
          <div class="footer__column">
            <a class="footer__details" href="#">sales@apoint.uz</a>
            <a class="footer__details" href="#">Напишите нам в телеграм</a>
          </div>
          <div class="footer__column">
            <a class="footer__phone" href="#"><span>+998</span>(99) 800 2002</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-inner">
        <p class="footer__license">© 2020 Apoint Все права защищены</p>
        <div class="footer__social">
          <a href="#"><img src="images/instagram.png" alt="instagram" /></a>
          <a href="#"><img src="images/twiter.png" alt="twiter" /></a>
          <a href="#"><img src="images/linkedin.png" alt="linkedin" /></a>
        </div>
      </div>
    </div>
  </section>
</footer>
