<header class="header section-margin">
  <div class="container">
    <section class="header-left">
      <div class="header__menu">
        <a href="#" class="header__logo">
          <img src="images/logo.png" alt="Logo" />
        </a>
        <a href="#" class="header__link">Главная</a>
      </div>
      <div class="header__video">
        <div class="header__video-wrapper">
          <img src="images/video.png" alt="Video" />
          <img src="images/btn-play.png" alt="Play-icon" />
        </div>
      </div>
    </section>
    <section class="header-right">
      <div class="header__menu">
        <a href="#" class="header__link">Связатся с нами</a>
        <div class="header__control">
          <button class="header__lang header__lang--active">RU</button>
          <button class="header__lang">UZ</button>
          <button class="header__install">Установить</button>
        </div>
      </div>
      <div class="header__contacts">
        <img src="images/banner-right.png" alt="header-img" />
        <a href="#" class="header__phone"><span>+998</span> (99) 101 11 16</a>
      </div>
      <div class="header__inf">
        <p class="header__subtitle">Комплексная программное обеспечения</p>
        <h1 class="header__title">
          Автоматизация производственных процессов и бизнес-задач
        </h1>
        <div class="header__descr">
          Увеличьте чистую прибыль, уменьшив до 30% рабочих сил. Повышайте
          эффективность производства, контролируя процесс через Apoint.
        </div>
        <button class="header__get-help">Получить консультацию</button>
      </div>
    </section>
  </div>
</header>
