<div class="modal" data-id="service-1">
  <div class="modal__body">
    <div class="modal__close"></div>
    <div class="modal-content">
      <div>
        <h1>Бесплатная консультация</h1>
        <p>
          Оставьте свои данные и мы свяжемся с вами как можно скорее. И подробно
          расскажем про автоматизацию производства
        </p>
      </div>
      <form class="modal-form" action="">
        <input class="modal__input" type="text" placeholder="Ваше имя" />
        <input class="modal__input" type="tel" placeholder="Телефон номер" />
        <button class="modal__btn">Перезвоните мне</button>
      </form>
      <div>
        <span class="modal__call">
          Если вы не хотите ждать от нас звонка вы можете позвонить нам прямо
          сейчвс по номерам:
        </span>
        <a href="tel:+998991011116">+99899 101 11 16</a>
      </div>
    </div>
    <div class="modal-img">
      <img src="images/consultM.jpg" alt="Consult" />
    </div>
  </div>
</div>
<div class="modal" data-id="service-2">
  <div class="modal__body">
    <div class="modal__close"></div>
    <div class="modal-content">
      <div>
        <h1>ERP</h1>
        <p>
          Оставьте свои данные и мы свяжемся с вами как можно скорее. И подробно
          расскажем про автоматизацию производства
        </p>
      </div>
    </div>
    <div class="modal-img">
      <img src="images/ErpM.jpg" alt="ERP" />
    </div>
  </div>
</div>
<div class="modal" data-id="service-3">
  <div class="modal__body">
    <div class="modal__close"></div>
    <div class="modal-content">
      <div>
        <h1>СКЛАД</h1>
        <p>
          Программное обеспечение, формирующее полную отчетность процесса
          производства вашего предприятия. Программа, используя данные своей
          базы, рассчитывает количество потребляемого сырья для каждого продукта
          производства, тем самым сокращая время подсчета на 90 %. Также, вы уже
          не будете зависеть от менеджера производства по факту контроля
          дисциплины, производительности труда и количества брака сотрудников.
          Единожды введя в программу распределение должностей и структуру
          модели, вы получите
        </p>
      </div>
    </div>
    <div class="modal-img">
      <img src="images/storageM.jpg" alt="STORAGE" />
    </div>
  </div>
</div>
<div class="modal" data-id="service-4">
  <div class="modal__body">
    <div class="modal__close"></div>
    <div class="modal-content">
      <div>
        <h1>HR</h1>
        <p>
          Программное обеспечение, формирующее полную отчетность процесса
          производства вашего предприятия. Программа,
        </p>
        <ul>
          <li>Сырьевой склад</li>
          <li>Склад готовой продукции</li>
          <li>Мобильный слад</li>
        </ul>
        <p>
          Программное обеспечение, формирующее полную отчетность процесса
          производства вашего предприятия. Программа,
        </p>
      </div>
    </div>
    <div class="modal-img">
      <img src="images/HrM.jpg" alt="HR" />
    </div>
  </div>
</div>
<div class="modal" data-id="service-5">
  <div class="modal__body">
    <div class="modal__close"></div>
    <div class="modal-content">
      <div>
        <h1>KPI</h1>
        <p>
          Программное обеспечение, формирующее полную отчетность процесса
          производства вашего предприятия. Программа,
        </p>
        <ul>
          <li>
            Разрабатывает и внедряет систему эффективной адаптации новых
            работников;
          </li>
          <li>
            Разрабатывает и внедряет систему эффективной адаптации новых рабо
          </li>
          <li>
            Мобиsdfasdf asdfasdf asdf asdf asdf asdf asdfa sdf sdльный слад
          </li>
          <li>МРазрабатывает и внедряет систему эффективной</li>
        </ul>
      </div>
    </div>
    <div class="modal-img">
      <img src="images/KpiM.jpg" alt="Kpi" />
    </div>
  </div>
</div>
<div class="modal" data-id="service-6">
  <div class="modal__body">
    <div class="modal__close"></div>
    <div class="modal-content">
      <div>
        <h1>CRM</h1>
        <p>
          Программное обеспечение, формирующее полную отчетность процесса
          производства вашего предприятия. Программа, используя данные своей
          базы, рассчитывает количество Программное обеспечение, формирующее
          полную отчетность процесса производства вашего предприятия. Программа,
          используя данные своей базы, рассчитывает количество
        </p>
      </div>
    </div>
    <div class="modal-img">
      <img src="images/CrmM.jpg" alt="Crm" />
    </div>
  </div>
</div>
<div class="modal__overlay"></div>
